<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
    <head th:replace="plantilla/plantilla::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="container" th:replace="plantilla/plantilla::menu"></div>
        <div class="container" style="max-width: 400px; margin-top: 50px">
            <div class="card">
                <div class="card-header">
                    Modificar
                </div>
                <div class="card-body">
                    <form action="/categupdate">
                        <div class="mb-3">
                            <input type="text" class="form-control m-25" placeholder="Nombre" name="nombre" th:value="${categoria.nombre}">
                        </div> 
                        <input type="hidden" name="id" th:value="${categoria.id}" />
                        <input type="submit" class="btn btn-primary" value="Actualizar">
                    </form>
                </div>
            </div>
    </body>
</html>
